body,
html {
    height: 100%;
}

body {
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

ul>li {
	list-style: none;
	font-size: large;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
    color: white;
}

.container {
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 15px;
}

button.plus {
	font-size: 25px;
	width: 30px;
	height: 30px;
	line-height: 0px;
	text-align: center;
	padding: 0px;
	margin-right: 10px;
	top: -5px;
}

#scoreboard {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	padding: 2px;
	padding-left: 15px;
	padding-right: 15px;
	width: fit-content;
}

canvas:hover{
	cursor: none;
}

@media (min-width: 1200px) {
    .container{
        max-width: 720px;
    }
}