body {
	background-image: url("../bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 15px;
}

#scoreboard {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1px;
	width: fit-content;
}

canvas:hover{
	cursor: none;
}