#tabla #szinek{
    height: 96px;
    width: 96px;
    top: 820px;
    left: 20px;
    line-height: 0;
}
#tabla #szinek div{
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
}